<% /* 
COMP 229 Assignment 2 - login.ejs
Student Name: Kam Hung Chan (Karlis)
ID: 301232477
Date: October 14, 2022
*/ %>

<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>
    <div class="content">
    <h1><%=page%></h1>
    <!--Message Area-->
    <% if(messages.length > 0) { %>
    <div class="alert alert-danger">
        <% messages %>
    </div>
    <% } %>
        <form class="form" action="" method="POST" autocomplete="off">
            <p>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" required="required" />
            </p>

            <p>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" required="required" />
            </p>
            or <a href="/register">Register Now</a>
            <input type="submit" id="submit" value="Login" />
        </form>

        <%- include('partials/footer'); %>

    </div>
</body>
</html>